body {
    background-image: url (.kuvat/pilvet1.jpg);
    
}
header{
    text-align: center;

}
.sisalto {
    margin: 5% 10% 5% 10% ;
    flex-direction: row;
    text-align: center;
    background-color: #fff0df;
    padding: 5px;
}

.kuva {
    max-width: 40%;
    vertical-align: middle;
    width: 35%;
    margin: 5% 10% 5% 10% ;
}
/* yhteystiedot sivun henkilö-kuvat*/

/* index sivun kuva*/
.indexkuva {
   width: 35%;
   height:55%; 
   float:left;
   margin-right: 20px;
}

#kartta {
  margin: 5%;
   margin-left: 20px;
   float:right;
 
}
    
.grid-teksti {
    margin: 5% 15% 5% 15% ;
    flex-direction: row;
}

.grid-teksti2 {
    margin: 5% 15% 5% 15% ;
    flex-direction: row;
    background-color: #fff0df;
}

.sisalto {
    margin: 5% 10% 5% 10% ;
    flex-direction: row;
    background-color: #fff0df;
}

/* otsikot*/

h1 {
   font-family: 'customFont', 'Palatino linotype';
    font-size: 40px;
    color: #fff0df;
    text-shadow: 2px 2px #4a7212;
    text-align: center;
    padding-top: 30px;

}

/*fontteja ja font facella saa lisättyä oma lataamia*/
@font-face{
    font-family:customFont; /* fontin nimi*/
    src: url(fontti/BrandenRaulner-L3xJE.otf);   
}

h2 {
    font-family:'palatino linotype';
    font-size: 25px;
    text-align: center;
    color:#4a7212;
}
h3 {
    font-family: 'palatino linotype';
    font-size: 25px;
    text-align:center;
    color: #4a7212;
}

/* tekstejä*/

p {
    margin: 5% 20% 5% 20% ;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px ;
}
#h2yht {
    margin: 5% 20% 5% 20% ;  
}
/*id avulla saadaan css tiedostossa tehtyä tietylle asialle tietty haluttu*/

/*päävalikko*/
nav {
    font-family: 'palatino linotype';
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color:#122620;
    font-weight: bold;
    justify-content: space-evenly;
}

.valikko {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 20px;
    list-style-type: none;
    display: flex;
    padding: 10px;

}

.valikko :hover {
    color: #f8afa6;
}

#valittu {
    color: #122620;
    background-color: #f8afa6;
    padding: 1px;
}

#soteria {
    background-image: url(./kuvat/pilvet2.0.jpg);
    padding:55px;
    background-repeat: no-repeat;
}
#etusivu {
background-image: url(./kuvat/7fdeb446-3866-4d32-98c4-5958930677ef.jpeg);
background-size: cover;

}
/*valittu saadaan näkyviin, millä sivulla ollaan*/

.toimintakehote {
    border: 2px solid #4a7212;
    border-radius: 25px;
    background-color: #fff0df;
    font-family: 'customFont', "sans serif";
    font-size:20px;
    color: #4a7212;
    padding: 10px 32px;
    text-decoration: none;
    text-align: center;
    font-weight:bold;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
}


.esittely {

table {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
}


/*alatunniste*/
footer{
    clear: both;
    font-family: otsikko, "sans serif";
    font-size: 18px;
    color: #122620;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*mobiili*/
@media (max-width: 600px) {

    footer{
        flex-direction: column;
        text-align: center;
    }

    #indexkuva {
        width: 20%;
        height: 30%;
        margin-right: 20px;
    }
}
/*tietokone*/
@media screen and (min-width: 1920px) {
    #etusivu {
        background-image: url(./kuvat/pilvet2.0);
        background-size: cover;
        height: 950px;
    }
    #alisivut {
        background-image: url(kuvat/tausta.jpg);
    }
    nav a { 
        font-size: 20px;
        width: 130px;
        height: 25px;
        padding: 10px;
        margin:5px 20px;
    }
    
    #slogan {
        font-size: 65px;
        padding-top: 150px;
        padding-bottom: 20px;
        padding-left: 200px;
        padding-right: 200px;
    }
    footer{
        flex-direction: row;
        text-align: left;
        position: fixed;
        bottom: 0;
        width: 100%;
        max-height: 15%;
    }
}