header{
    text-align: center;

}
.sisalto {
    margin: 5% 10% 5% 10% ;
    flex-direction: row;
    text-align: center;
    background-color: #fff0df;
    padding: 5px;
}

.kuva {
    max-width: 40%;
    vertical-align: middle;
    width: 35%;
    margin: 5% 10% 5% 10% ;
}
/* yhteystiedot sivun henkilö-kuvat*/

/* index sivun kuva*/
.indexkuva {
   width: 35%;
   height:55%; 
   float:left;
   margin-right: 20px;
}

#kartta {
  margin: 5%;
   margin-left: 20px;
   float:right;
}
    
.grid-teksti {
    margin: 5% 15% 5% 15% ;
    flex-direction: row;
}

.grid-teksti2 {
    margin: 5% 15% 5% 15% ;
    flex-direction: row;
    background-color: #fff0df;
}

.sisalto {
    margin: 5% 10% 5% 10% ;
    flex-direction: row;
    background-color: #fff0df;
}

/* otsikot*/

h1 {
   font-family: 'customFont', 'Palatino linotype';
    font-size: 40px;
    color: #fff0df;
    text-shadow: 2px 2px #4a7212;
    padding-top: 30px;

}

/*fontteja ja font facella saa lisättyä oma lataamia*/
@font-face{
    font-family:customFont; /* fontin nimi*/
    src: url(fontti/BrandenRaulner-L3xJE.otf);   
}

h2 {
    font-family:'palatino linotype';
    font-size: 25px;
    text-align: center;
    color:#4a7212;
}
h3 {
    font-family: 'palatino linotype';
    font-size: 25px;
    text-align:center;
    color: #4a7212;
}

/* tekstejä*/

p {
    margin: 5% 20% 5% 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}
#h2yht {
    margin: 5% 20% 5% 20%;  
}
/*id avulla saadaan css tiedostossa tehtyä tietylle asialle tietty haluttu*/

/*päävalikko*/
.valikko {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    width: 70%;
    font-family:'palatino linotype';
    font-size: 25px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    height: 20px;
    display:inline-flex;
    justify-content:space-between;
    padding: 15px;
}
.valikko :hover {
    color: #f8afa6
;
}

#valittu {
    color: #122620;
    background-color: #f8afa6;
    padding: 0px;
    border:10px;
    text-align: center;
}

a {
    color:#122620;
    text-decoration: none;
}
#soteria {
    background-image: url(./kuvat/pilvet.jpg);
    border: 40px;
    padding: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.toimintakehote {
    border: 2px solid #4a7212;
    border-radius: 25px;
    background-color: #fff0df;
    font-family: 'customFont', "sans serif";
    font-size:20px;
    color: #4a7212;
    padding: 10px 32px;
    text-decoration: none;
    text-align: center;
    font-weight:bold;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
}

table {
    text-align: center;
    padding-top: 20px;
    margin-left: 200px;
}

/*alatunniste*/
footer{
    font-family: otsikko, "sans serif";
    font-size: 18px;
    color: #122620;
    background-color: #fff0df;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 15px;
}

/*mobiili*/
@media (max-width: 600px) {

    footer{
        flex-direction: column;
        text-align: center;
    }

    .indexkuva {
        width: 100%;
        height: 30%;
        margin-right: 20px;
    }
}
/*tietokone*/
@media screen and (min-width: 1920px) {
    #soteria {
        background-image: url(./kuvat/pilvet);
        background-size: cover;
    }
    }
    valikko { 
        font-size: 20px;
        padding: 10px;
    }
    
    #slogan {
        font-size: 40px;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 200px;
        padding-right: 200px;
    }
    footer {
            font-family: otsikko, "sans serif";
            font-size: 18px;
            color: #122620;
            background-color: #fff0df;
            display: flex;
            justify-content: space-around;
            padding-top: 60px;
            padding-bottom: 15px;
    }
